<h4>Waiting For Players...</h4>
<p>Access Code: <%= @room.token %></p>
<hr>

<%- @players.each_with_index do |name, index| %>
  <b><%= index + 1 %></b> <%= name %>
<% end %>

<hr>

<div class='button-container'>
  <%= button_to 'Start Game', game_path, method: 'post', class: 'btn btn-simple' %>
  <%= button_to 'Leave Game', static_home_path, method: 'get', class: 'btn btn-simple' %>
</div>
