<h4>Waiting For Players...</h4>
<p>Access Code: <%= @room.token %></p>
<hr>

<div class='js-player-names'>
  <%- @player_names.each_with_index do |name, index| %>
    <p class='js-player-name'>
      <b><%= index + 1 %></b> <%= name %>
    </p>
  <% end %>
</div>

<hr>

<div class='button-container'>
  <%= button_to 'Start Game', game_path, method: 'post', class: 'btn btn-simple' %>
  <%= button_to 'Leave Game', player_path, method: 'delete', class: 'btn btn-simple' %>
</div>
